* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica', 'sans-serif';
  padding-bottom: 200px;
  background: antiquewhite;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.card {
  margin-top: 50px;
  background: white;
}

main {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 5rem auto;
}

.loading {
  text-align: center;
  font-size: 3rem;
}

/* Media Queries */
/* 576px, 768px, 992px and 1200p */
@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 400px;
  }
}
